<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @alumno.nombre %>
</p>

<p>
  <b>Numero de cuenta:</b>
  <%= @alumno.cuenta %>
</p>

<p>
  <b>Facultad:</b>
  <%= @alumno.facultad %>
</p>

<p>
  <b>Semestre:</b>
  <%= @alumno.semestre %>
</p>

<p>
  <b>Grupo:</b>
  <%= @alumno.grupo %>
</p>

<p>
  <b>Carrera:</b>
  <%= @alumno.carrera %>
</p>


<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<td><%= link_to 'Back', acreditaciones_path %></td>
