<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @acreditacione.nombre %>
</p>

<p>
  <b>Administrador:</b>
  <%= @acreditacione.administrador %>
</p>

<p>
  <b>Fecha de Inicio:</b>
  <%= @acreditacione.fecha_inicio %>
</p>

<p>
  <b>Fecha de Termino:</b>
  <%= @acreditacione.fecha_termino %>
</p>

   <h1>Alumnos</h1>
<%= render :partial => 'acreditaciones/alumnos'%>

<%= link_to 'Edit', edit_acreditacione_path(@acreditacione) %> |
<%= link_to 'Back', acreditaciones_path %>
